h1 {
  text-decoration: underline;
  font-weight: bold;
}

p {
  font-size: 12px;
  background-color: rgb(225, 255, 224);
}

span {
  color: red;
}

.container {
  box-shadow: 10px 13px 0 -1px;
}

#judul1 {
  font: 800;
  color: red;
  text-decoration: underline;
  a:hover {
    color: red;
  }
}

#judul2 {
  font-weight: 800;
  color: green;
}

.content {
  background-color: beige;
}

.box {
  background-color: white;
  width: 100px;
  height: 100px;
}

.box a {
  text-decoration: none;
  color: black;
}

.box a:hover {
  font-size: larger;
}

.box:hover a {
  color: white;
}

.box:hover {
  background-color: blue;
}
